aiogram==2.7
aiohttp==3.7.4
astroid==2.3.3
async-timeout==3.0.1
attrs==19.3.0
Babel==2.9.1
beautifulsoup4==4.9.0
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
idna==2.9
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
multidict==4.7.5
pylint==2.4.4
pytz==2019.3
six==1.14.0
soupsieve==2.0
wrapt==1.11.2
yarl==1.4.2
